body {
  background-color: #4e4d5c;
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
  font-family: "Russo One", sans-serif;
}
.homeImage {
  width: 75%;
  height: 60%;
  padding: 5%;
  align: center;
}
.marvel {
  font-family: "Anton", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  padding: 10% 6%;
}

.book {
  border: solid 20px black;
}

.label {
  background: white;
  color: black;
}

.creator {
  background: white;
  color: black;
  padding: 1% 2%;
}
