body {
  background-color: #4e4d5c;
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
  font-family: "Russo One", sans-serif;
}

.marvel {
  font-family: "Anton", sans-serif;
}

.book {
  border: solid 20px black;
}

.label {
  background: white;
  color: black;
}

.creator {
  background: white;
  color: black;
  padding: 1% 2%;
}

.cardImage {
  height: 150px;
  width: 80px;
  border: solid 20px black;
}

/* span 2 / 5
grid-column 1/ span 2
gird-column 5 / 9;
fr
auto
grid-column
gird-row */
